@import 'https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans|Roboto';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
}
h1, h2, h3, h4 {
  font-family: 'Didact Gothic', sans-serif;
}
html, body, .salchicha, .heroizq {
  overflow-x: hidden;
}

/*--------------------------PROJECTS MODAL------------------------*/



.projects {
  background-color: black;
  padding: 7%;
}
.projects button {
  margin-top: 8%;
}
.modal-dialog {
  width:60%;
}
.modal-content {
  position: relative;
    background-color: #ffe500;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    border: 0;
    border-radius: 3px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-content img {
  width: 100%;
}


.modal-footer, .modal-header {
  border:0px;
}

/*--------------------------NAVBAR------------------------*/



.grow {
  transition: font-size 0.2s;
}
.grow:hover {
  font-size: 114%;
}
.navbar-default {
  border: 0px;
}
.navbar-default .navbar-nav>li>a {
  min-height: 80px;
  color: black;
  line-height: 50px;
  transition: all 0.2s ease-in-out;
}
.navbar-default .navbar-nav>.active>a {
  color: black;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.navbar-brand img {
  width:80px;
  display: inline;
}
.navbar-brand h1 {
  display:inline;
  color:black;
  font-size: 1.6em;
  font-weight: bold;
}
.navbar-default {
  background-color: transparent;
  transition: all 0.4s ease-in-out;
}
.navbar-header {
  min-height: 80px;
}

/*ESTILOS DEL OPACITY JQUERY*/
.navbar-default.active {
  background-color: black;
}
.navbar-default .navbar-nav>li>a.active2,  .navbar-default .navbar-nav>.active>a.active2, .navbar-brand h1.active2 {
  color:white;
}


/*--------------------------WIENER DOG ANIMATION------------------------*/

.heroder{
  background: #ffe500;
  height: 1500px;
  width: 50%;
  float: left;
}
.heroizq {
  background: #c61ccc;
  position: relative;
  height: 1500px;
  width: 50%;
  float: left;
}
.words {
  position: absolute;
}
.words img {
  width: 325px;
}
.long {
  left:730px;
  top:535px;
}
.live {
  left:730px;
  top:758px;
}
.design {
  left:730px ;
  top: 988px;
}
.long img {
  width:441px;
}
.live img {
  width: 345px;
}
.design img {
  width: 625px;
}
.fondo {
  position: relative;
}
.salchicha_container {
  top: 270px;
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.salchicha_text h3{
  font-size: 30px;
}
.salchicha_text {
  position: absolute;
  left: 306px;
  top: 122px;
  color: white;
}
.salchicha {
  position: absolute;
  left: 37%;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}
.salchicha2 {
  position: absolute;
  left:-1250px;
  top:230px;
  white-space: nowrap;
}
.salchicha3 {
  position: absolute;
  left:-3000px;
  top:460px;
  white-space: nowrap;
}
.salchicha4 {
  position: absolute;
  left:-4250px;
  top:690px;
  white-space: nowrap;
}
.salchicha img {
  margin: 0;
  padding: 0;
}
.stretch, .stretch2, .stretch3 {
  min-width: 82px;
  height: 249px;
}
/*.stretch:hover {
width: 300px;
height: 249px
}*/


.lorem {
  position:absolute;
  padding: 6%;
  top: 896px;
}



footer {
  height: 600px;
      background-color: black;
}
